<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayPiolet</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form action="/listings/<%=card._id%>?_method=PUT" method="post">
        <input type="text" value = "<%=card.title%>" name="listing[title]"><br><br>
        <textarea name="listing[description]" rows="5" cols="20"> <%=card.description%></textarea><br><br>
        <input type="text" value = "<%=card.image%>" name="listing[image]"><br><br>
        <input type="number" value = "<%=card.price%>" name="listing[price]"><br><br>
        <input type="text" value = "<%=card.country%>" name="listing[country]"><br><br>
        <input type="text" value = "<%=card.location%>" name="listing[location]"><br><br>
        <button type="submit">Edit Listing</button>
    </form>
</body>
</html>